@charset "utf-8";
body{background-color: #35353a}

#nadpis{
	background-color: #262629;
}

/*  #748a7c  #174214 */
/*
#filtr{
	background-color: #52585c; 
	width:1000px;
	padding-right:600px;
	border-radius: 15px;
}
*/